---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/story/Card.tsx";
import ButtonSet from "@/components/story/ButtonSet.tsx";
import FooterDecorator from "@/components/story/FooterDecorator.tsx";

const img = "/images/cocktail/Cosmopolitan.PNG";
const bg = "cosmobox";
const accent = "peach";
const download = `/images/elements/download-${accent}.svg`;
---

<BaseLayout>
  <!-- TODO: Customize other cocktail types -->
  <div
    class="flex w-full flex-col items-center justify-center gap-4 bg-cosmo bg-cover bg-repeat pb-32"
  >
    <img src="/images/elements/heartlogo.png" class="mx-auto mt-8 w-20" />
    <Card client:load name="Cosmopolitan" img={img} bg={bg} accent={accent}>
      วอดก้า แครนเบอรี่ และน้ำมะนาว สามส่วนผสมหลักที่เข้ากันได้อย่างไม่น่าเชื่อ
      รวมกันเป็นค็อกเทลรสเปรี้ยวอมหวานสีชมพูสดใสที่ครองใจสาว ๆ นักดื่มทั่วโลก

      คุณเปรียบเสมือนค็อกเทลดังกล่าว คุณเป็นคนขี้เล่น มีเสน่ห์ และมักจะเต็มเปี่ยมไปด้วยพลังงานในการทำสิ่งต่าง ๆ
      คุณเป็นคนที่ให้ลุคสบาย ๆ แต่ในขณะเดียวกัน ก็แฝงไปด้วยความมั่นใจในตนเอง มีอารมณ์ขัน
      และเป็นคนที่มักจะปล่อยวางในสถานการณ์ที่ควบคุมไม่ได้ได้ดี แต่ในบางครั้งด้วยความที่คุณเป็นคนคารมคมคาย

      คนอื่นอาจมองว่าคุณเป็นคนเจ้าชู้ ไม่จริงจังกับความสัมพันธ์ จากการที่คุณสามารถเข้ากับคนง่าย
      คุณอาจจะต้องใช้ระยะเวลาและความจริงใจในการพิสูจน์ ซึ่งหากผ่านพ้นไปได้แล้วจะได้เจอกับความรักที่คุณตามหาแน่นอน

      “Love has absolutely no pattern, and no one will ever be perfect“
      — Taylor swift
    </Card>
    <FooterDecorator />
    <ButtonSet client:load accent={accent} bg={bg} img={download} id="cosmo" />
  </div>
</BaseLayout>
