---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/story/Card.tsx";
import ButtonSet from "@/components/story/ButtonSet.tsx";
import FooterDecorator from "@/components/story/FooterDecorator.tsx"

const img = "/images/cocktail/Lavender lemonade.PNG"
const bg = "lalemonbox"
const accent = "lavender"
const download = `/images/elements/download-${accent}.svg`
---

<BaseLayout>
    <!-- TODO: Customize other cocktail types -->
    <div id="lavender" class="w-full flex flex-col gap-4 items-center justify-center bg-cover bg-repeat bg-lalemon pb-16">
        <img src="/images/elements/heartlogo.png" class="w-20 mx-auto mt-8">
        <Card client:load name="Lavender Lemonade" img={img} bg={bg} accent={accent}>
            ลาเวนเดอร์ เลมอนเนด จิน ค็อกเทลสีม่วงน่าค้นหา
            พร้อมส่วนผสมที่ประกอบไปด้วยจิน, น้ำเลม่อน, น้ำเชื่อมลาเวนเดอร์ และน้ำโซดา สร้างความซับซ้อนในรสชาติ มีรสฝาดจากน้ำมะนาว
            และกลิ่นหอมหวานจากดอกลาเวนเดอร์ เป็นเครื่องดื่มที่มีความลึกซึ้งในรสชาติ 

            คุณเปรียบเสมือนค็อกเทลดังกล่าว คุณเป็นคนที่อ่อนโยนและลึกซึ้งในเรื่องของความสัมพันธ์ คุณเป็นคนละเอียดในทุกการกระทำ
            และมักจะมีความเห็นอกเห็นใจผู้อื่นอยู่เสมอ ทำให้ใครหลายคนมักนิยามคุณว่าคุณคือผู้ฟังที่ดี คุณมีมุมที่เป็นคนอ่อนไหวได้ง่าย 
            ในบางครั้งคุณอาจจะนึกถึงการกระทำ หรือคำพูดที่เกิดขึ้นในอดีต
            ที่ทำให้คุณรู้สึกไม่ดีอยากจะกลับไปแก้ไข แต่อย่าลืมที่จะพยายามปล่อยวางเรื่องทุกข์ใจเหล่านี้โดยหันมาโอบกอดตัวเองให้แน่นในการให้อภัย ละทิ้งซึ่งอดีต และเดินหน้าไปต่ออย่างภาคภูมินะ
            
            “Love has absolutely no pattern, and no one will ever be perfect“
                — Taylor swift
            
        </Card>
        <FooterDecorator/>
        <ButtonSet client:load accent={accent} bg={bg} img={download} id="lavender"/>
    </div>
</BaseLayout>
  