---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/story/Card.tsx";
import ButtonSet from "@/components/story/ButtonSet.tsx";
import FooterDecorator from "@/components/story/FooterDecorator.tsx";

const img = "/src/images/cocktail/Pina colada.PNG";
const bg = "pinabox";
const accent = "pineapple";
const download = `/src/images/elements/download-${accent}.svg`;
---

<BaseLayout>
  <!-- TODO: Customize other cocktail types -->
  <div
    id="pina"
    class="relative flex w-full flex-col items-center justify-center gap-4 overflow-hidden bg-pina bg-cover bg-repeat pb-8"
  >
    <img src="/src/images/elements/heartlogo.png" class="mx-auto mt-8 w-20" />
    <Card client:load name="Pina Colada" img={img} bg={bg} accent={accent}>
      น้ำสับปะรด, รัม, และครีมมะพร้าว
      <br />ทั้งสามสิ่งนี้คือส่วนผสมหลักที่ประกอบออกมาเป็นพีน่า โคลาดา
      เครื่องดื่มที่ให้ความรู้สึกถึงฤดูร้อนที่แดดจ้า
      <br />เมื่อดื่มรู้สึกสดชื่นจากส่วนผสมหลักอย่างน้ำสับปะรด
      <br />ที่มีรสชาติเปรี้ยว ตัดกับความหวาานของครีมมะพร้าว
      <br />และความกลมกล่อมจากเหล้ารัม
      <br /><br />
       คุณเปรียบเสมือนค็อกเทลดังกล่าว เป็นมนุษย์ที่มีความทะเยอทะยาน
      และมีแพชชั่นที่ร้อนแรงในการทำสิ่งต่าง ๆ
      <br />คุณเป็นคนที่มีความอิสระโลดโผนในตัวสูง มีความคิดเป็นของตนเอง
      และมีความมั่นใจในการทำสิ่งต่าง ๆ เปรียบเหมือนบรรยากาศริมชายทะเลที่มีแดดจ้า


      <br /><br />
       บางครั้งคุณอาจจะเบื่อกับการใช้ชีวิต ทำให้คุณมักจะหาสิ่งใหม่ ๆ ทำ
      <br />เพื่อเป็นท้าทายตนเอง คุณมักจะมีมุมที่มีความเป็นศิลปินในตนเองสูง
      ทำให้หลาย ๆ คนอาจจะตามคุณไม่ทัน
      <br /><br />
       “Love has absolutely no pattern,
      <br />and no one will ever be perfect“
      <br />—Taylor swift
    </Card>
    <FooterDecorator />
    <ButtonSet client:load accent={accent} bg={bg} img={download} id="pina" />
  </div>
</BaseLayout>
