---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/story/Card.tsx";
import ButtonSet from "@/components/story/ButtonSet.tsx";
import FooterDecorator from "@/components/story/FooterDecorator.tsx";

const img = "/images/cocktail/Summer berry sangria.PNG";
const bg = "raspberrybox";
const accent = "salmon";
const download = `/images/elements/download-${accent}.svg`;
---

<BaseLayout>
  <!-- TODO: Customize other cocktail types -->
  <div
    class="flex w-full flex-col items-center justify-center gap-4 bg-raspberry bg-cover bg-repeat pb-32"
  >
    <img src="/images/elements/heartlogo.png" class="mx-auto mt-8 w-20" />
    <Card client:load name="Summer Berry Sangria" img={img} bg={bg} accent={accent}>
      เครื่องดื่มสีสดใสที่ประกอบไปด้วยไวน์ขาว, เตกีล่า, น้ำผลไม้, บลูเบอร์รี่, สตรอเบอร์รี่, ราสเบอร์รี่ และ เลม่อนโซดา
            
      ซัมเมอร์ เบอร์รี่ แซงเกรียถูกจัดว่าเป็นเครื่องดื่มที่มักเสิร์ฟในงานสังสรรค์ และเป็นที่นิยมในประเทศสเปน ซึ่งเป็นแหล่งกำเนิดของเครื่องดื่มชนิดนี้

      คุณเปรียบเสมือนค็อกเทลดังกล่าว คุณชื่นชอบในการอยู่ในที่ที่คุณรู้สึกสบายใจหรือกับกลุ่มคนที่เป็นที่พักพิงทางใจ 
      ด้วยค็อกเทลดังกล่าวประกอบไปด้วยวัตถุดิบที่ดื่มได้ง่าย 
      มีรสชาติกล่มกล่อม เหมือนกับตัวคุณที่มักจะปรับตัวเข้ากับ
      สังคมใหม่ ๆ ได้ง่ายกว่าใครหลายคน

      คุณชื่นชอบที่จะช่วยเหลือผู้อื่นและทำให้ผู้อื่นมีความสุข
      จนบางครั้ง อาจเป็นตัวคุณเองที่ไม่สบายใจในการตัดสินใจทำบางอย่างเพื่อผู้อื่น อย่าลืมหันมาให้ความสนใจกับตนเอง
      โดยให้การมอบสิ่งที่ดีแก่ผู้อื่นของคุณสมดุลกับการรักษาใจคุณเองด้วยนะ

      “Love has absolutely no pattern, 
      and no one will ever be perfect“
      — Taylor swift
    </Card>
    <FooterDecorator />
    <ButtonSet client:load accent={accent} bg={bg} img={download} id="sangria" />
  </div>
</BaseLayout>
