---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/story/Card.tsx";
import ButtonSet from "@/components/story/ButtonSet.tsx";
import FooterDecorator from "@/components/story/FooterDecorator.tsx";

const img = "/src/images/cocktail/Summer berry sangria.PNG";
const bg = "raspberrybox";
const accent = "salmon";
const download = `/src/images/elements/download-${accent}.svg`;
---

<BaseLayout>
  <!-- TODO: Customize other cocktail types -->
  <div
    id="sangria"
    class="flex w-full flex-col items-center justify-center gap-4 bg-raspberry bg-cover bg-repeat pb-32"
  >
    <img src="/src/images/elements/heartlogo.png" class="mx-auto mt-8 w-20" />
    <Card
      client:load
      name="Summer Berry Sangria"
      img={img}
      bg={bg}
      accent={accent}
    >
      เครื่องดื่มสีสดใสที่ประกอบไปด้วยไวน์ขาว, เตกีล่า, น้ำผลไม้, บลูเบอร์รี่,
      สตรอเบอร์รี่, ราสเบอร์รี่ และ เลม่อนโซดา
      <br /><br />
       ซัมเมอร์ เบอร์รี่
      แซงเกรียถูกจัดว่าเป็นเครื่องดื่มที่มักเสิร์ฟในงานสังสรรค์
      และเป็นที่นิยมในประเทศสเปน ซึ่งเป็นแหล่งกำเนิดของเครื่องดื่มชนิดนี้
      <br /><br />
       คุณเปรียบเสมือนค็อกเทลดังกล่าว
      คุณชื่นชอบในการอยู่ในที่ที่คุณรู้สึกสบายใจหรือกับกลุ่มคนที่เป็นที่พักพิงทางใจ

      <br />ด้วยค็อกเทลดังกล่าวประกอบไปด้วยวัตถุดิบที่ดื่มได้ง่าย
      <br />มีรสชาติกล่มกล่อม เหมือนกับตัวคุณที่มักจะปรับตัวเข้ากับ
      <br />สังคมใหม่ ๆ ได้ง่ายกว่าใครหลายคน
      <br /><br />
       คุณชื่นชอบที่จะช่วยเหลือผู้อื่นและทำให้ผู้อื่นมีความสุข
      <br />จนบางครั้ง
      อาจเป็นตัวคุณเองที่ไม่สบายใจในการตัดสินใจทำบางอย่างเพื่อผู้อื่น
      อย่าลืมหันมาให้ความสนใจกับตนเอง
      <br />โดยให้การมอบสิ่งที่ดีแก่ผู้อื่นของคุณสมดุลกับการรักษาใจคุณเองด้วยนะ
      <br /><br />
       “Love has absolutely no pattern,
      <br />and no one will ever be perfect“
      <br />—Taylor swift
    </Card>
    <FooterDecorator />
    <ButtonSet
      client:load
      accent={accent}
      bg={bg}
      img={download}
      id="sangria"
    />
  </div>
</BaseLayout>
