---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

import BubbleBox from "@/components/story/BubbleBox";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Tap from "@/components/story/Tap";

interface Props {
  noBubble?: boolean;
  text?: string;
  redirect: string;
  img?: ImageMetadata;
  imgLowRes?: ImageMetadata;
}

const { text, redirect, img, imgLowRes, noBubble } = Astro.props;
---

<BaseLayout>
  {
    img ? (
      <Image
        class="absolute -z-10 h-full w-full object-cover"
        src={img}
        alt=""
        aria-hidden
      />
    ) : (
      <div class="absolute h-full w-full bg-black" aria-hidden />
    )
  }
  {
    imgLowRes && (
      <div
        class="absolute -z-20 h-full w-full bg-cover bg-center object-cover"
        style={`background-image: url(${imgLowRes.src});`}
      />
    )
  }
  {
    noBubble && (
      <div class="absolute left-1/2 top-1/2 z-50 flex w-full -translate-x-1/2 -translate-y-1/2 items-center justify-center px-12 text-center font-bold text-white">
        {text}
      </div>
    )
  }
  {!noBubble && text && <BubbleBox client:load text={text} />}
  <Tap client:load redirect={redirect} />
</BaseLayout>
